.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-left {
    width: 70%;
    background-color: white;
    padding: 10px 20px;
    margin: 0;
    min-height: 100vh;
    border-radius: 20px;
}
.chart-container {
    width: 100%;
}
.map-container {
    height: 600px;
    border-radius: 20px;
    width: 100%;
    outline: none;
    
}
.map-title {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(0,0,0,0.8);
}

.GestionPointsScreen {
    
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;

}

  
#cardAuto {
    width: 150px;
    height: 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
    color: black;

    padding: 10px;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

#cardText {
    font-size: 22px;    
    display: flex;
    justify-content: center;    
}
/* feedback */
.container-right {
    background-color: white;
    border-radius: 20px;
    width: calc(26% - 5px);
    padding: 10px 5px;
    height: 100vh;
    overflow-y: scroll;
}
.container-right .title {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(0,0,0,0.8);
}
.container-right::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .container-right::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
  }
  
  /* Handle */ 
  .container-right::-webkit-scrollbar-thumb {
    background: #E17E01;
    border-radius: 20px;
  }
.feedbacks-container {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}
.feedback {
    width: 100%;
}
.feedback .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.feedback .row img {
    width: fit-content;
}
.feedback .row .text-container {
    width: 70%;
    font-size: 0.8rem;
    padding: 8px 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;

}
.feedback .feedback-btn {
    padding: 7px 6px;
    border-radius: 14px;
    background-color: #E17E01;
    border: none;
    outline: none;
    color: white;
    display: block;
    margin: 0 10px 0 auto;
    cursor: pointer;
    font-size: 0.9rem;
}